---
import Panel from '../Panel.astro';
import ProfileImage from './ProfileImage.astro';
import ProfileName from './ProfileName.astro';
---

<Panel>
  <a href="/" class="flex flex-col gap-3">
    <ProfileImage />
    <ProfileName class="mt-3" />
    <p>항상 더 나은 길을 찾는</p>
  </a>
</Panel>
