.name {
  position: relative;
  display: inline-block;
  font-family: "Space Grotesk", sans-serif;
  margin: auto;
  width: min(100%, 45rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-left: 15px black solid;
  height: min(40vw, 20rem);
  padding: 0px 30px;
  > h1 {
    line-height: min(20vw, 10rem);
    font-size: min(20vw, 10rem);
  }
  > h2 {
    font-size: min(10vw, 5rem);
    position: absolute;
    white-space: nowrap;
    top: 55%;
    left: 4%;
  }
}
